# React Native

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# Metro bundler
.expo
.expo-shared
.expo/*
.expo-shared/*
.expo-dev

# React Native Packager
/packager-info.json
/.rncache
/metro-cache
/metro-cache/*
/react-native.config.js

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/Podfile
ios/*.xcworkspace
ios/*.xcuserstate
ios/.DS_Store
ios/*/xcuserdata
ios/*/build

# Xcode
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!default.pbxuser

# Android
android/.gradle/
android/app/build/
android/build/
*.iml
.gradle
local.properties
*.apk
*.ap_ 
*.dex
*.class
*.jar
*.war
*.ear
*.db

# Bundling
*.bundle
*.map

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sln
*.suo
*.ntvs*
*.njsproj
*.sln
*.xcodeproj
*.xcworkspace
*.cxxproj
*.orig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Watchman
.watchmanconfig

# Misc cache
*.tmp
*.temp
.tmp/
